$color-white: #fff;
$color-black: #1e2732;
$color-danger: #eb3d3d;
$color-primary: rgba(25, 188, 201, 1);
$color-light-grey: rgba(30, 39, 50, 0.12);
$color-white-transparent: rgba($color-white, 0.8);

$box-shadow: 0 5px 0 4px rgb(30 39 50 / 6%);

$dropdown-zIndex: 2;

$breapoint-sm: 768px;